flask~=3.0.3
easyocr~=1.7.0
Werkzeug~=3.0.1
pymssql~=2.3.0
opencv-python~=4.6.0.66
tensorflow~=2.16.1
numpy~=1.25.1
ultralytics~=8.0.143
vietocr~=0.3.13
matplotlib~=3.7.2
scikit-image~=0.21.0
filterpy~=1.4.5
scipy~=1.9.3
pandas~=2.0.3
Pillow~=9.5.0
utils~=1.0.2
Faker~=25.8.0
celery~=5.4.0