body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/032/189/793/non_2x/green-sneakers-on-the-ground-in-the-forest-3d-rendering-environmental-friendly-shoes-running-outdoors-in-nature-concept-ai-generated-free-photo.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;

    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background: linear-gradient(to right, rgba(0, 100, 0, 0.8), rgba(0, 150, 0, 0.8));
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer
}

.navbar-right {
    margin-right: 20px
}

.navbar-right button {
    background-color: #4CAF50;
}

.navbar-right a {
    font-size: 1.05rem;
    text-decoration: none
}

.navbar-logo, .admin-logo {
    height: 40px;
    margin-right: 10px;
}

.admin-logo {
    border-radius: 5px
}

.brand-name {
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Iciel Panton Black", serif;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 10px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}



.dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white; /* Changed to white background */
    color: green; /* Changed text color to green */
}

.dropdown-content a {
    color: green; /* Changed text color to green */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #006600;
}

.visualization {
    margin-bottom: 20px;
}

.visualization p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #006600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.visualization button:hover {
    background-color: #004d00;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 95%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #c6ecc6;
    position: sticky;
    top: 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e6ffe6;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    color: white;
    font-size: 0.7em;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
